@mixin safari-grid($percent) {
	@media #{$tablet} { 
		width: calc(#{$percent} - #{$grid-gutter}); float: left;//SAFARI 9
	} 
}

@mixin css-grid-column($span) {
	grid-column: 1 / -1; 
	@media #{$tablet} { 
		grid-column: span $span; 
		@supports(display: grid) { width: auto; }
	}
}

/* ----------------------
Fallback Classes (Must be First)
---------------------- */
.css-grid-4 {
	.css-grid-fourth        { @include safari-grid(25%); }
	.css-grid-half          { @include safari-grid(50%); }
	.css-grid-three-fourths { @include safari-grid(75%); }
	.css-grid-full          { @include safari-grid(100%); }
	//If wrong grid type is used, stay semi-valid
	.css-grid-sixth       { @include safari-grid(25%); background-color: rgba(218, 61, 48, 0.5); border-color: #DA3D30; }
	.css-grid-two-thirds  { @include safari-grid(75%); background-color: rgba(218, 61, 48, 0.5); border-color: #DA3D30; }
	.css-grid-third       { @include safari-grid(25%); background-color: rgba(218, 61, 48, 0.5); border-color: #DA3D30; }
	.css-grid-five-sixths { @include safari-grid(75%); background-color: rgba(218, 61, 48, 0.5); border-color: #DA3D30; }
}

.css-grid-6 {
	.css-grid-sixth       { @include safari-grid(16.6666%); }
	.css-grid-two-thirds  { @include safari-grid(66.6666%); }
	.css-grid-half        { @include safari-grid(50%); }
	.css-grid-third       { @include safari-grid(33.3333%); }
	.css-grid-five-sixths { @include safari-grid(83.3333%); }
	.css-grid-full        { @include safari-grid(100%); }
	//If wrong grid type is used, stay semi-valid
	.css-grid-fourth        { @include safari-grid(16.6666%); background-color: rgba(218, 61, 48, 0.5); border-color: #DA3D30; }
	.css-grid-three-fourths { @include safari-grid(83.3333%); background-color: rgba(218, 61, 48, 0.5); border-color: #DA3D30; }
}

/* ----------------------
Actual CSS Grid Classes
---------------------- */

.css-grid {//IE and Safari
	display: block;//For IE and Safari mobile
	overflow: auto;//For IE and Safari display
	grid-gap: $grid-gutter;

	> div { margin: $grid-gutter 0; @media #{$tablet} { margin: calc(#{$grid-gutter} / 2); } }//IE11 and Safari 9
	@supports(display: grid) { display: grid; > div { margin: 0; } }//Reset for good browsers
}

.css-grid-4 { grid-template-columns: repeat(4, 1fr); @media #{$tablet} { padding: $grid-gutter; } }
.css-grid-6 { grid-template-columns: repeat(6, 1fr); @media #{$tablet} { padding: $grid-gutter; } }

.css-grid-4 {
	.css-grid-full 		    { @include css-grid-column(4); }
	.css-grid-half          { @include css-grid-column(2); }
	.css-grid-three-fourths { @include css-grid-column(3); }
	.css-grid-fourth        { @include css-grid-column(1); }
	//If wrong grid type is used, stay semi-valid
	.css-grid-two-thirds    { @include css-grid-column(3); background-color: rgba(218, 61, 48, 0.5); border-color: #DA3D30; }
	.css-grid-five-sixths   { @include css-grid-column(3); background-color: rgba(218, 61, 48, 0.5); border-color: #DA3D30; }
	.css-grid-third         { @include css-grid-column(1); background-color: rgba(218, 61, 48, 0.5); border-color: #DA3D30; }
	.css-grid-sixth         { @include css-grid-column(1); background-color: rgba(218, 61, 48, 0.5); border-color: #DA3D30; }
}

.css-grid-6 {
	.css-grid-full 		    { @include css-grid-column(6); }
	.css-grid-half          { @include css-grid-column(3); }
	.css-grid-two-thirds    { @include css-grid-column(4); }
	.css-grid-five-sixths   { @include css-grid-column(5); }
	.css-grid-third         { @include css-grid-column(2); }
	.css-grid-sixth         { @include css-grid-column(1); }
	//If wrong grid type is used, stay semi-valid
	.css-grid-three-fourths { @include css-grid-column(5); background-color: rgba(218, 61, 48, 0.5); border-color: #DA3D30; }
	.css-grid-fourth        { @include css-grid-column(1); background-color: rgba(218, 61, 48, 0.5); border-color: #DA3D30; }
}

/* ----------------------
Example App Mockups Below 
---------------------- */

.wrapper {
	max-width: $global-content-width;
	margin: 0 auto;
}

//For Examples:
.css-grid-highlight { 
	background-color: rgba(255, 161, 31, 0.5); 
	border: 2px solid #ffa11f; 
	border-radius: 5px;
}
.css-grid-highlight-blue, .css-grid-highlight-blue > div {
    background-color: rgba(81, 116, 186, 0.5); 
    border: 2px solid #6A8DD3;
    color: $white;
    text-align: center;
    border-radius: 5px;
}
.css-grid-highlight-red, .css-grid-highlight-red > div {
    background-color: rgba(218, 61, 48, 0.5); 
    border: 2px solid #DA3D30;
    color: $white;
    text-align: center;
    border-radius: 5px;
}
.css-grid-highlight-green, .css-grid-highlight-green > div {
    background-color: rgba(9, 170, 102, 0.5); 
    border: 2px solid #09AA66;
    color: $white;
    text-align: center;
    border-radius: 5px;
}

.mock-progress-bar  { height: 3rem; background-color: #6A8DD3;                  border-radius: 5px; }
.mock-overview      { height: 7rem; background-color: #09aa66;                  border-radius: 5px; }
.mock-parameters    { height: 5rem; background-color: #9f65ae;                  border-radius: 5px; }

.is-flex {
	display: block;

	@media #{$tablet} {
		display: flex;
		flex-direction: row;//IE11
		justify-content: space-around;//IE11
		@supports(justify-content: space-evenly) { 
			justify-content: space-evenly; 
		}
	}

	&.vertical {
		display: block;

		@media #{$tablet} {
			display: block;
			flex-direction: column;
			// align-content: space-around;//IE11
			@supports(align-content: space-evenly) {
				display: flex;
				align-content: space-evenly; 
			}
			justify-content: initial;
		}

		.card:last-of-type {
			margin-bottom: 0;
		}
	}

	.mock-key {
		height: 4rem;
		width: 5rem;
		text-align: center;

		@media #{$tablet} {
			margin: auto;//Edge
		}


		div {
			background-color: #6A8DD3;
			margin: 0 auto;
			border-radius: 50px;
			height: 1rem;
			width: 1rem;
		}
	}

	.card {
		width: 100%;
		margin: 1rem auto;
	}
}
//End Examples
