/* Banner Styles
  =========================================================================== */
.page-banner {
  background-color: $gray-150;
  text-align: center;
  padding: 2rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  h4 {
    color: $gray-700;
    margin-top: 0.5rem;
  }

  .button--banner {
    @include button($gray-400, $white);
    @extend %button--smooth;
    position: absolute;
    top: 2.15rem;
    right: 1rem;
  }
}

.card {
  .card-banner {
    background-color: #D4D4D4;
    padding: $grid-gutter;
    margin: 0 -#{$grid-gutter};
    width: calc(100% + ((#{$grid-gutter}) * 2));

    &.has-success,
    &.has-error {
      p { color: $white; }
      .dashing-icon:before { color: $white;}
    }

    &.has-warning {
      p { color: $black; }
      .dashing-icon:before { color: $black;}
    }

    &.has-success { background-color: $green; }
    &.has-warning { background-color: $orange; }
    &.has-error   { background-color: $red; }

    p {
      display: inline-block;
      font-size: 0.9rem;
      font-weight: 600;
      margin: 0;
    }

    .dashing-icon {
      display: inline-block;
      float: left;
      margin-top: 0.25rem;

      & + p {
        position: relative;
        left: calc(#{$grid-gutter} + (#{$grid-gutter} / 2));
        margin-left: -#{$grid-gutter};
        width: calc(100% - (#{$grid-gutter} * 2));
      }
    }
  }
}
