<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="../../css/example.css" rel="stylesheet">
	<title>Blank App Layout</title>
</head>

<body>
	<nav class="app-menu fixed" style="background-color: rgba(81,116,186,.97);">
	  <div class="app-context">
	    <div class="app-title" style="color: #ffffff;">Title</div>
	  </div>
	</nav>
	<div class="app-content">
		<div class="css-grid-wrapper">
			<div class="css-grid-4 css-grid-layout">
				<div class="css-grid--half">
					<div class="card" style="margin: 0;">
						
						<div class="card--header has-border">
							<div class="css-grid-4">
								<div class="css-grid--three-fourths">
									<h3>Mary Johnston</h3>
								</div>
								<div class="css-grid--fourth align-center">
									$300
								</div>
							</div>
						</div>
						
						<div class="card--content">
							<div class="css-grid-4">
								<div class="css-grid--three-fourths">
									2 Person Membership
								</div>
								<div class="css-grid--fourth align-right">
									<button class="button button--transparent">LEARN MORE</button>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="css-grid--half">
					<div class="card" style="margin: 0;">
						
						<div class="card--header has-border">
							<div class="css-grid-4">
								<div class="css-grid--three-fourths">
									<h3>Membership Options</h3>
								</div>
								<div class="css-grid--fourth align-center">
								</div>
							</div>
						</div>
						
						<div class="card--content">
							<div class="css-grid-4">
								<div class="css-grid--three-fourths">
									Samaritan Basic
								</div>
								<div class="css-grid--fourth align-right">
									<button class="button button--transparent no-padding">LEARN MORE</button>
								</div>
							
								<div class="css-grid--three-fourths">
									Save to Share
								</div>
								<div class="css-grid--fourth align-right">
									<button class="button button--transparent no-padding">LEARN MORE</button>
								</div>

								<div class="css-grid--three-fourths">
									Paperless Notifications
								</div>
								<div class="css-grid--fourth align-right">
									<button class="button button--transparent no-padding">LEARN MORE</button>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="css-grid--full">
					<div class="card" style="margin: 0;">
						
						<div class="card--header has-border">
							<div class="css-grid-4">
								<div class="css-grid--full">
									<h3>Your Family</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>