<div class="modal-header">
  <h3>Modal Header</h3>
</div>

<div class="modal-content">
  <p>This is a data modal. Typically, this will be set to the default size and will inlude a few inputs.</p>
  <p>This is a data modal. Typically, this will be set to the default size and will inlude a few inputs.</p>

</div>

<div class="modal-footer align-left">
  <button data-action="update-need-types" class="button button--smooth button--primary">Save &amp; Close</button>
  <button data-id="close" class="button button--transparent button--grey">Cancel</button>
</div>
