$inputs: 'select, textarea,input[type="date"],input[type="time"],input[type="email"],input[type="month"],input[type="number"],input[type="password"],input[type="tel"],input[type="text"]';

fieldset {
  border: none;
  padding: 0;
  margin: 0;

  label {
    display: block;
    font-size: $font-size-small;
    font-weight: $font-weight-semibold;
    margin-bottom: 0.3rem;
    text-align: left;

    &.inline {
      @include user-select(none);
      font-size: 1rem;
      display: inline-block;
      font-weight: normal;
      cursor: pointer;
    }
  }

  //Supports all standard input types
  #{$inputs} {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $white;
    border: 2px solid $gray-150;
    border-radius: 5px;
    font-size: 1rem;
    max-width: 100%;
    padding: 0.6rem;
    width: 100%;

    &:focus {
      border-color: $blue;
      outline-color: transparent;
      outline-style: none;
    }

    //Adds light gray background color to disabled inputs
    &[disabled] {
      background-color: $gray-100 !important;
      border-color: $gray-100 !important;
      cursor: default !important;
    }
  }

  input[type=checkbox],
  input[type=radio] {
    float: left;
    margin-top: 0.3rem;
    margin-right: 0.5rem;
  }

  textarea {
    resize: vertical;
  }

  select {
    cursor: pointer;
  }

  //Add class to containing fieldset or div to display a down arrow icon in the menu
  &.select--with-icon,
  .select--with-icon {
    position: relative;
    &:after {
      content: '\e800';
      color: $gray-400;
      font-family: 'dashing-icons';
      font-size: 12px;
      font-weight: 600;
      pointer-events: none;
      position: absolute;
      right: 2rem; bottom: calc(#{$grid-gutter} * 2);
    }
  }

  &.error, &.warning {
    .message {
      margin: 0;
      margin-top: 0.4rem;
      padding: 0;
      list-style: none;
      overflow: auto;

      li {
        float: left;
        font-size: $font-size-normal;
        margin-right: 0.5rem;
      }
    }
  }

  //Adds red text to lables and inputs for error states
  &.error {
    label, #{$inputs} {
      color: $red;
      border-color: $red-200;
    }

    #{$inputs} {
      &:focus {
        border-color: $red;
      }
    }

    .message li {
      color: $red;
    }
  }

  //Adds orange text to lables and inputs for warning states
  &.warning {
    label, #{$inputs} {
      color: $orange;
      border-color: $orange-300;
    }

    #{$inputs} {
      &:focus {
        border-color: $orange;
      }
    }

    .message li {
      color: $orange;
    }
  }
}

/* Custom Checkboxes
  ================================================== */

.checkbox--custom,
.radio--custom {
  input { // Places the input behind the label so it doesn't overlay text
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
}


.checkbox--custom {

  //Label Styles
  label:before {
    @include user-select(none);
    content: '\e835';
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-color: $white;
    border: 2px solid $gray-200;
    border-radius: 5px;
    color: transparent;
    display: block;
    float: left;
    font-family: 'dashing-icons';
    font-size: 12px;
    font-weight: 600;
    height: 20px; width: 20px;
    margin-top: 1px;
    margin-right: 0.5rem;
    padding: 2px;
  }

  //Checkbox Hover
  input:hover ~ label { //Text Hover
    color: rgba($black, .6);
    &:before { //Checkbox Hover
      color: $gray-200;
    }
  }

  //Checkbox Active
  input:checked ~ label:before, input:active ~ label:before {
    color: $checkbox--icon;
    background-color: $checkbox--active;
    border: 2px solid $checkbox--active;
  }

  //Checkbox Focus
  input:focus ~ label:before { box-shadow: 0 0 0 2px $checkbox--focus; }

  //Disabled Checkbox
  input[disabled] ~ label,
  input[disabled]:active ~ label,
  input[disabled]:checked ~ label {
    cursor: default;
    pointer-events: none;
    &:before {
      border-color: $checkbox--disabled;
      background-color: $checkbox--disabled;
    }
  }

  //Disabled Checkbox Icon
  input[disabled]:active ~ label,
  input[disabled]:checked ~ label {
    &:before { color: $checkbox--icon-disabled; }
  }
}

/* Custom Radio Buttons
  ================================================== */
//Wrapper for Custom Radio Buttons
.radio--custom  {
	font-weight: normal;

  //Label Styles
  input:empty ~ label { //Position Styles
    @include user-select(none);
    cursor: pointer;
  	float: left;
    line-height: 1rem;
    margin-top: 0.3rem;
    position: relative;
    text-indent: 2rem;
    &:before { //Radio Button Styles
      border: 2px solid $gray-200;
      border-radius: 50px;
      content: '';
      display: block;
      font-size: 1.5rem;
      line-height: 0.7rem;
    	position: absolute;
    	top: 0;	bottom: 0; left: 0;
      height: 20px; width: 20px;
    }
  }

  //Radio Hover
  input:hover:not(:checked) ~ label { //Text Hover
    color: rgba($black, .6);
    &:before { //Button Hover Hover
      color: $gray-200;
    	content:'•';
    	text-indent: 4px;
    }
  }

  //Radio Active
  input:checked ~ label:before {
    background-color: $radio--active;
    border-color: $radio--active;
    color: $radio--icon;
  	content:'•';
  	text-indent: 4px;
  }

  //Radio Focus
  input:focus ~ label:before { box-shadow: 0 0 0 2px $radio--focus; }

  //Disabled Radio Button
  input[disabled] ~ label,
  input[disabled]:active ~ label,
  input[disabled]:checked ~ label {
    cursor: default;
    pointer-events: none;
    &:before {
      border-color: $radio--disabled;
      background-color: $radio--disabled;
    }
  }

  //Disabled Radio Icon
  input[disabled]:active ~ label,
  input[disabled]:checked ~ label {
    &:before { color: $radio--icon-disabled; }
  }
}
