<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/example.css" rel="stylesheet">
    <title>Modal</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../../../bower_components/dash-modal.js/dist/dash-modal.js"></script>
    <script src="../../scripts/scripts.js"></script>
    <script src="../../scripts/prism.js"></script>
    <script src="../../../dist/application.js"></script>
  </head>

  <body class="example-body">
    <div data-id="modal-container"></div>
		<div class="main-content">
			<div id="sidebarNavigation" class="example-sidebar"></div>
      <div class="sidebar--overlay is-hidden"></div>
			<div class="main">
				<div class="page-header">
					<button class="button--sidebar-icon float-left"><i class="sidebar-icon--menu"></i></button>
					<h1>dash-modal.js</h1>
					<a href="http://developers.samaritanministries.org/developers/dash-modal.js/" target="_blank" class="button button--small button--smooth float-right">
						View Guidelines
					</a>
				</div>

        <div class="app-content">
          <div class="row">
            <div class="column column--full">
            <h2 class="example-header no-margin--top">Default Modal <button class="button button--transparent button--copy-link" data-id="copyurl" id="Default_Modal"></h2>
            <div class="row example-container">
              <div class="column column--full">
                <button data-id="show-modal-1">Open Modal</button>
              </div>
            </div>
            <div class="code-toggle"><i class="icon--code"></i></div>
<pre><code class="language-html">&lt;nav class="app-menu"&gt;
  &lt;div class="app-context"&gt;
    &lt;div class="app-title"&gt;App Title&lt;/div&gt;
  &lt;/div&gt;
&lt;/nav&gt;</code>
</pre>
<pre><code class="language-scss">//Include this variable in your theme file to change the color of your header
$menu-color: $gray-100 !default;</code>
</pre>
</div>
</div>

<div class="row">
  <div class="column column--full">
  <h2 class="example-header">Small Modal <button class="button button--transparent button--copy-link" data-id="copyurl" id="Default_Modal"></h2>
  <div class="row example-container">
    <div class="column column--full">
      <button data-id="show-modal-2">Open Modal</button>
    </div>
  </div>
  <div class="code-toggle"><i class="icon--code"></i></div>
<pre><code class="language-html">&lt;nav class="app-menu"&gt;
&lt;div class="app-context"&gt;
&lt;div class="app-title"&gt;App Title&lt;/div&gt;
&lt;/div&gt;
&lt;/nav&gt;</code>
</pre>
<pre><code class="language-scss">//Include this variable in your theme file to change the color of your header
$menu-color: $gray-100 !default;</code>
</pre>
</div>
</div>

<div class="row">
  <div class="column column--full">
  <h2 class="example-header">Large Modal <button class="button button--transparent button--copy-link" data-id="copyurl" id="Default_Modal"></h2>
  <div class="row example-container">
    <div class="column column--full">
      <button data-id="show-modal-3">Open Modal</button>
    </div>
  </div>
  <div class="code-toggle"><i class="icon--code"></i></div>
<pre><code class="language-html">&lt;nav class="app-menu"&gt;
&lt;div class="app-context"&gt;
&lt;div class="app-title"&gt;App Title&lt;/div&gt;
&lt;/div&gt;
&lt;/nav&gt;</code>
</pre>
<pre><code class="language-scss">//Include this variable in your theme file to change the color of your header
$menu-color: $gray-100 !default;</code>
</pre>
</div>
</div>

<div class="row">
  <div class="column column--full">
  <h2 class="example-header">Large Modal ... Just Kidding <button class="button button--transparent button--copy-link" data-id="copyurl" id="Default_Modal"></h2>
  <div class="row example-container">
    <div class="column column--full">
      <button data-id="show-modal-4">Open Modal</button>
    </div>
  </div>
  <div class="code-toggle"><i class="icon--code"></i></div>
<pre><code class="language-html">&lt;nav class="app-menu"&gt;
&lt;div class="app-context"&gt;
&lt;div class="app-title"&gt;App Title&lt;/div&gt;
&lt;/div&gt;
&lt;/nav&gt;</code>
</pre>
<pre><code class="language-scss">//Include this variable in your theme file to change the color of your header
$menu-color: $gray-100 !default;</code>
</pre>
</div>
</div>
 
<div class="row">
  <div class="column column--full">
  <h2 class="example-header">Default Modal Again<button class="button button--transparent button--copy-link" data-id="copyurl" id="Default_Modal"></h2>
  <div class="row example-container">
    <div class="column column--full">
      <button data-id="show-modal-5">Open Modal</button>
    </div>
  </div>
  <div class="code-toggle"><i class="icon--code"></i></div>
<pre><code class="language-html">&lt;nav class="app-menu"&gt;
&lt;div class="app-context"&gt;
&lt;div class="app-title"&gt;App Title&lt;/div&gt;
&lt;/div&gt;
&lt;/nav&gt;</code>
</pre>
<pre><code class="language-scss">//Include this variable in your theme file to change the color of your header
$menu-color: $gray-100 !default;</code>
</pre>
</div>
</div>


<div class="row">
  <div class="column column--full">
  <h2 class="example-header">Large Modal ... For real this time <button class="button button--transparent button--copy-link" data-id="copyurl" id="Default_Modal"></h2>
  <div class="row example-container">
    <div class="column column--full">
      <button data-id="show-modal-6">Open Modal</button>
    </div>
  </div>
  <div class="code-toggle"><i class="icon--code"></i></div>
<pre><code class="language-html">&lt;nav class="app-menu"&gt;
&lt;div class="app-context"&gt;
&lt;div class="app-title"&gt;App Title&lt;/div&gt;
&lt;/div&gt;
&lt;/nav&gt;</code>
</pre>
<pre><code class="language-scss">//Include this variable in your theme file to change the color of your header
$menu-color: $gray-100 !default;</code>
</pre>
</div>
</div>
 
</body>
</html>
