<div class="row">
    <div class="column column--full">
      <p class="intro"></p>

      <section>
        <div class="row">
          <div class="column column--full">
            <h2 class="has-number has-number--one no-margin--top">Action Verbs</h2>
            <p>Buttons should be written in short, concise words that describe the action taken. Your user shouldn’t have to guess what happens when they click. Rather, use one or two words that quickly describe the action taken.</p>
            <div class="image-container">
              <div class="image" id="actions--action-verb"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="column column--full">
            <h2 class="has-number has-number--two">Button Hierarchy</h2>
            <p>Not all buttons have equal importance. Knowing which kind of button to use is important in order to grab your user’s attention at the right time. The following buttons have been sorted from greatest hierarchy to least.</p>
            <div class="image-container">
              <div class="image" id="actions--hierarchy"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="column column--full">
            <h2 class="has-number has-number--three">Purposeful Color</h2>
            <p>The Dashing <a href="http://design.samaritanministries.org/product/principles/color/">color library</a> has been purposefully crafted for interaction. All interface colors have been tested to meet <a href="http://design.samaritanministries.org/product/principles/accessibility/">web accessibility</a> standards, and should be used intentionally to draw attention and signify different types of action.</p>
            <div class="image-container">
              <div class="image" id="actions--color"></div>
            </div>
          </div>
        </div>

        <blockquote class="caution" style="margin-top: 2rem;">
          <strong>Caution: Be intentional with custom colors</strong>
          <p>If you are using a custom color for a button or action, review the <a href="http://design.samaritanministries.org/product/principles/accessibility/">accessibility guidelines</a> to ensure your button meets web standards.</p>
        </blockquote>
      </section>

    </div>
  </div>
