/* Core Extendables
  =========================================================================== */

%app-content-width { max-width: $global-content-width; }

%clearfix { overflow: auto; }

%remove-list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Shadow Extendables
=========================================================================== */
%shadow-50 { @include box-shadow(0 2px 4px rgba(0,0,0, 0.5)); }
%shadow-100 { @include box-shadow(0 4px 8px rgba(0,0,0, 0.3)); }
%shadow-200 { @include box-shadow(0 4px 16px rgba(0,0,0, 0.3)); }
%shadow-300 { @include box-shadow(0 4px 24px rgba(0,0,0, 0.3)); }

/* Action Extendables
  =========================================================================== */
%button--rounded,
%button--round { border-radius: 50px; }
%button--smooth { border-radius: 5px; }
