<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/example.css" rel="stylesheet">
    <title>Footer</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../../scripts/scripts.js"></script>
    <script src="../../scripts/prism.js"></script>
  </head>

  <body class="example-body">
		<div class="main-content">
			<div id="sidebarNavigation" class="example-sidebar"></div>
      <div class="sidebar--overlay is-hidden"></div>
			<div class="main">
				<div class="page-header">
					<button class="button--sidebar-icon float-left"><i class="sidebar-icon--menu"></i></button>
					<h1>Lists</h1>
				</div>

        <div class="app-content">
          <div class="row">
            <div class="column column--full">
            <h2 class="example-header no-margin--top">Custom Ordered Lists <button class="button button--transparent button--copy-link" data-id="copyurl" id="ordered-lists"></h2>
            <div class="row example-container">
              <div class="column column--full" style="overflow: auto;">
                <ol class="ordered-list--custom">
                  <li>This is the first item</li>
                  <li>This is the second item</li>
                  <li>This is the third item</li>
                  <li>This is the fourth item</li>
                </ol>
              </div>
            </div>
            <div class="code-toggle"><i class="icon--code"></i></div>
<pre><code class="language-html">&lt;!-- Apply the fixed class to the app-footer element to fix it to the bottom --&gt;
&lt;footer class="app-footer fixed"&gt;
  &lt;div class="row no-padding"&gt;
    &lt;button class="float-left"&gt;Save&lt;/button&gt;
    &lt;button class="button--green float-right"&gt;Submit&lt;/button&gt;
  &lt;/div&gt;
&lt;/footer&gt;</code>
</pre>
</div>
<div class="column column--full">
<h2 class="example-header no-margin--top">List Color Options <button class="button button--transparent button--copy-link" data-id="copyurl" id="ordered-lists"></h2>
<div class="row example-container">
  <div class="column column--full" style="overflow: auto;">
    <ol class="ordered-list--custom ordered-list--blue" style="margin-bottom:1rem;">
      <li>This is a blue custom list</li>
    </ol>
    <ol class="ordered-list--custom ordered-list--green" style="margin-bottom:1rem;">
      <li>This is a green custom list</li>
    </ol>
    <ol class="ordered-list--custom ordered-list--orange" style="margin-bottom:1rem;">
      <li>This is a orange custom list</li>
    </ol>
    <ol class="ordered-list--custom ordered-list--purple" style="margin-bottom:1rem;">
      <li>This is a purple custom list</li>
    </ol>
    <ol class="ordered-list--custom ordered-list--red">
      <li>This is a red custom list</li>
    </ol>
  </div>
</div>
<div class="code-toggle"><i class="icon--code"></i></div>
<pre><code class="language-html">&lt;!-- Apply the fixed class to the app-footer element to fix it to the bottom --&gt;
&lt;footer class="app-footer fixed"&gt;
&lt;div class="row no-padding"&gt;
&lt;button class="float-left"&gt;Save&lt;/button&gt;
&lt;button class="button--green float-right"&gt;Submit&lt;/button&gt;
&lt;/div&gt;
&lt;/footer&gt;</code>
</pre>

</div>
</div>

    </div>
  </body>
</html>
