<div class="modal-header">
  <h3>Need #<span data-id="need-id"></span></h3>
</div>

<div class="modal-content">
  <div class="row">

    <fieldset class="column column--full">
      <label for="dashing-menu">Need Type</label>
      <select id="dashing-menu" data-id="is-spn" disabled>
        <option value="false">Regular Need</option>
        <option value="true">Special Prayer Need</option>
      </select>
    </fieldset>

    <fieldset class="column column--full select--has-icon">
      <label for="dashing-menu">Submission Type</label>
      <select id="dashing-menu" data-id="submission-type">
      </select>
    </fieldset>

    <fieldset class="column column--full">
      <label for="dashing-menu">Condition Type</label>
      <select id="dashing-menu" data-id="condition-type" disabled>
      </select>
    </fieldset>

    <fieldset class="column column--full">
      <label for="dashing-menu">Maternity Type</label>
      <select id="dashing-menu" data-id="maternity-type" disabled>
      </select>
    </fieldset>

  </div>
</div>

<div class="modal-footer popup align-left">
  <button data-action="update-need-types" class="button button--smooth button--primary">Save &amp; Close</button>
  <button data-id="close" class="button button--transparent button--grey">Cancel</button>
</div>

