<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/example.css" rel="stylesheet">
    <title>Navigation</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../../scripts/scripts.js"></script>
    <script src="../../scripts/prism.js"></script>
  </head>

  <body class="example-body">
    <div id="sidebarNavigation" class="example-sidebar"></div>
    <nav class="app-menu expanded fixed">
      <div class="app-context">
        <div class="app-title">
          <a href="example.html" class="app-title--has-breadcrumb">App Title</a>
          <i class="dashing-icon dashing-icon--arrow-right"></i>
          <span>With Breadcrumb</span>
        </div>
        <ul class="header-description">
          <li class="header-description--label">Example Label</li>
          <li class="header-description--content">#48151</li>
        </ul>
      </div>
      <ul class="app-navigation">
        <li><a href="example-1.html">Back Link</a></li>
        <li><a href="example-2.html" class="active">Breadcrumb</a></li>
        <li><a href="example.html" target="blank">
          New Tab
          <i class="dashing-icon dashing-icon--new-tab flow-opposite"></i>
        </a></li>
      </ul>
    </nav>

    <div class="app-content">
      <fieldset class="example-header no-margin--top">
        <h2 class="float-left">Navigation with Breadcrumbing</h2>
      </fieldset>
<pre><code class="language-scss">//Include this variable in your theme file to change the color of your header
$menu-color: $gray-100 !default;</code>
</pre>
<pre><code class="language-html">&lt;nav class="app-menu expanded fixed"&gt;
  &lt;div class="app-context"&gt;
    &lt;div class="app-title"&gt;
      &lt;a href="example.html" class="app-title--has-breadcrumb"&gt;App Title&lt;/a&gt;
      &lt;i class="dashing-icon dashing-icon--arrow-right"&gt;&lt;/i&gt;
      &lt;span&gt;With Breadcrumb&lt;/span&gt;
    &lt;/div&gt;
    &lt;ul class="header-description"&gt;
      &lt;li class="header-description--label"&gt;Example Label&lt;/li&gt;
      &lt;li class="header-description--content"&gt;#48151&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
  &lt;ul class="app-navigation"&gt;
    &lt;li&gt;&lt;a href="example-1.html"&gt;Back Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="example-2.html" class="active"&gt;Breadcrumb&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="example.html" target="blank"&gt;
      New Tab
      &lt;i class="dashing-icon dashing-icon--new-tab flow-opposite"&gt;&lt;/i&gt;
    &lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;</code>
</pre>
    </div>
  </body>
</html>
