@import "../../dashing.scss";
@import "example-color";
@import "example-icons";
@import "example-sidebar";
@import "prism";

.prevent-scrolling {
  overflow: hidden;
}

.overlay--spinner {
  left: 10rem;
}

.main {
  @media #{$tablet} {
    left: $sidebar-width;
    position: relative;
    width: calc(100% - #{$sidebar-width});
  }
}

.row {
  max-width: 800px;
}
