@import "../../dashing.scss";
@import "example-color";
@import "example-icons";
@import "example-sidebar";
@import "prism";

.prevent-scrolling {
  overflow: hidden;
}

.overlay--spinner {
  left: 10rem;
}

.main {
  @media #{$tablet} {
    left: $sidebar-width;
    position: relative;
    width: calc(100% - #{$sidebar-width});
  }
}

.row {
  max-width: 800px;
}

.button--sidebar-icon {
  @extend .button--gray;
  border-radius: 0 5px 5px 0;
  position: absolute;
  top: 1.2rem;
  left: 0;
  transition: all 0.3s !important;
  z-index: 2;

  .sidebar-icon--menu:not(.dashing-icon) {
    background-image: url("../images/menu.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 27px;
    width: 16px;
  }

  @media #{$tablet} { display: none; }
  &.sidebar-open { position: fixed; left: 80%; }
}
