<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../dashing.css" rel="stylesheet">
    <link href="../../example/css/icons.css" rel="stylesheet">
    <link href="../../example/css/sidebar.css" rel="stylesheet">
    <link href="../vendor/prismjs/prism.css" rel="stylesheet" />
    <title>Actions</title>
  </head>
  <body class="example-body">

    <script src="../../example/vendor/prismjs/prism.js"></script>
    <script src="../../example/scripts/scripts.js"></script>

    <div class="example-sidebar">
      <ul>
        <li class="active"><a href="#">Intro</a></li>
        <li><a href="../../sass/modules/actions/example.html">Actions</a></li>
        <li><a href="../../sass/modules/card/example.html">Card</a></li>
        <li><a href="../../sass/modules/forms/example.html">Forms</a></li>
        <li><a href="../../sass/modules/grid/example.html">Grid</a></li>
        <li><a href="../../sass/modules/icons/example.html">Icons</a></li>
        <li><a href="../../sass/modules/navigation/example/example.html">Navigation</a></li>
        <li><a href="../../sass/modules/table/example/default.html">Tables</a></li>
        <li><a href="../../sass/modules/typography/example.html">Typography</a></li>
        <li><a href="../../sass/base/colors/example/example.html">Color</a></li>
        <li class="bottom"><a href="https://github.com/dashframework/dashing">Documentation&nbsp;&nbsp;<i class="dashing-icon dashing-icon--new-tab flow-opposite"></i></a></li>
      </ul>
    </div>

    <div class="app-content intro">
      <section class="hero" style="margin-top: 0;">
        <h1 class="center-align">Installing the Dashing Component</h1>
      </section>

      <fieldset class="example-header">
        <h2>Install bower package</h2>
        <p>If you use <a href="https://bower.io/">Bower</a>, the dashing package can be installed with the following command:</p>
      </fieldset>
<pre class="language-bash"><code class="language-bash">bower install dashing --save</code></pre>

      <fieldset class="example-header">
        <h2>Install npm package</h2>
        <p>If you use <a href="https://www.npmjs.com/">npm</a>, the dashing package can be installed with the following command:</p>
      </fieldset>
<pre class="language-bash"><code class="language-bash">npm install dashing-framework --save</code></pre>

      <section class="hero">
        <h1 class="center-align">Setting up your styles</h1>
      </section>
      <fieldset class="example-header">
        <h2>Import Dashing and custom styles</h2>
        <p>Copy & paste this code into your main scss file. Note that the relative path may differ.</p>
        <p class="note"><strong>Note:</strong> You will need to create a folder and file for each custom style file (<span class="underline">theme</span>, <span class="underline">base</span>, <span class="underline">layout</span>, <span class="underline">module</span> and <span class="underline">state</span>).</p>
      </fieldset>

<pre><code class="language-scss">// Import dashing components
@import "/bower_components/dashing/sass/vendor/normalize";
@import "/bower_components/dashing/sass/base/base";

// Import custom theme file
@import "theme/theme";

// Import dashing components
@import "/bower_components/dashing/sass/modules/modules";

// Import custom style files
@import "base/base";
@import "layout/layout";
@import "modules/modules";
@import "state/state";</code>
</pre>
    </div>
  </body>
</html>
