<nav class="nav-items" id="nav">
  <h3>
    <span>Core</span>
  </h3>
  <ul>
    <li id="index" class="current"><a href="/">Intro</a></li>
    <li id="typography"><a href="/example/templates/typography/">Typography</a></li>
    <li id="color"><a href="/example/templates/color/">Color</a></li>
  </ul>

  <h3>
    <span>Components</span>
  </h3>
  <ul>
    <li id="actions"><a href="/example/templates/actions/index.html">Actions</a></li>
    <li id="banner"><a href="/example/templates/banner/">Banner</a></li>
    <li id="cards"><a href="/example/templates/cards/">Cards</a></li>
    <li id="checkboxes"><a href="/example/templates/checkboxes/">Checkboxes</a></li>
    <li id="clippy"><a href="/example/templates/clippy/">Clippy</a></li>
    <li id="footer"><a href="/example/templates/footer/">Footer</a></li>
    <li id="forms"><a href="/example/templates/forms/">Forms</a></li>
    <li id="cssgrid"><a href="/example/templates/cssgrid/">CSS Grid</a></li>
    <li id="grid"><a href="/example/templates/grid/">Grid</a></li>
    <li id="icons"><a href="/example/templates/icons/">Icons</a></li>
    <li id="navigation"><a href="/example/templates/navigation/">Navigation</a></li>
    <li id="progress"><a href="/example/templates/progress/">Progress Stepper</a></li>
    <li id="radio"><a href="/example/templates/radio/">Radio Buttons</a></li>
    <li id="spinner"><a href="/example/templates/spinner/">Spinner</a></li>
    <li id="table"><a href="/example/templates/table/">Tables</a></li>
    <li id="tags"><a href="/example/templates/tags/">Tags</a></li>
    <li id="toggle"><a href="/example/templates/toggle/">Toggle</a></li>
    <li id="tooltip"><a href="/example/templates/tooltip/">Tooltip</a></li>
    <li><a href="https://github.com/dashframework/dashing">Documentation&nbsp;&nbsp;<i class="dashing-icon dashing-icon--new-tab flow-opposite"></i></a></li>
    <a style="margin-left: 0.4rem;" href="https://badge.fury.io/gh/samaritanministries%2Fdashing" target="_blank"><img src="https://badge.fury.io/gh/samaritanministries%2Fdashing.svg" alt="GitHub version" height="18"></a>
  </ul>
</nav>
