<div class="nav-items">
  <h3>
    <span>Core</span>
  </h3>
  <ul>
    <li id="intro"><a href="../intro/intro.html">Intro</a></li>
    <li id="typography"><a href="../typography/example.html">Typography</a></li>
  </ul>

  <h3>
    <span>Components</span>
  </h3>
  <ul>
    <li id="actions"><a href="../actions/example.html">Actions</a></li>
    <li id="cards"><a href="../cards/example.html">Cards</a></li>
    <li id="checkboxes"><a href="../checkboxes/example.html">Checkboxes</a></li>
    <li id="clippy"><a href="../clippy/example.html">Clippy</a></li>
    <li id="footer"><a href="../footer/example.html">Footer</a></li>
    <li id="forms"><a href="../forms/example.html">Forms</a></li>
    <li id="grid"><a href="../grid/example.html">Grid</a></li>
    <li id="icons"><a href="../icons/example.html">Icons</a></li>
    <li id="navigation"><a href="../navigation/example.html">Navigation</a></li>
    <li id="progress"><a href="../progress/example.html">Progress Stepper</a></li>
    <li id="radio"><a href="../radio/example.html">Radio Buttons</a></li>
    <li id="spinner"><a href="../spinner/example.html">Spinner</a></li>
    <li id="table"><a href="../table/example.html">Tables</a></li>
    <li id="tags"><a href="../tags/example.html">Tags</a></li>
    <li id="toggle"><a href="../toggle/example.html">Toggle</a></li>
    <li id="tooltip"><a href="../tooltip/example.html">Tooltip</a></li>
    <li><a href="https://github.com/dashframework/dashing">Documentation&nbsp;&nbsp;<i class="dashing-icon dashing-icon--new-tab flow-opposite"></i></a></li>
  </ul>
</div>
