/* Actions Variables
  =========================================================================== */

$buttons: ".button, button, input[type='submit'], input[type='reset']";
$button-disabled: "&[disabled], &.disabled, &.button--disabled";

/* Actions Extendables
  =========================================================================== */

%action {
  @include user-select(none);
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: $font-weight-semibold;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 50ms ease-in-out;
  &:first-of-type { margin-left: 0; } //Clears left margin of first %action element
  &:last-of-type { margin-right: 0; } //Clears right margin of last %action element
  &:hover { transition: all .1s ease-in-out; }
}

/* Actions Mixins
  =========================================================================== */

@mixin button($background-color, $color) {
  background-color: $background-color;
  color: $color;

  &:hover, &:focus {
    background-color: darken($background-color, 10%);
    color: $color;
  }

  &:active {
    background-color: darken($background-color, 15%);
  }
}

@mixin action($color) {
  color: $color;

  &:hover, &:focus {
    opacity: 0.6;
  }
}

/* Actions Styles
  =========================================================================== */

#{$buttons} {
  @extend %action;
  @include button($background-color: $blue, $color: $white);
  @include user-select(none);

  -webkit-font-smoothing: auto;
  border-radius: 50px;
  // display: block;
  font-weight: $font-weight-normal;
  margin: 0.05rem 0.25rem;
  padding: 0.75rem 1rem;
  text-align: center;

  @media #{$tablet} {
    display: inline-block;
    padding: 0.5rem 1rem;
    padding-top: 0.45rem;
  }

  #{$button-disabled} {
    cursor: default;
    opacity: 0.4;
    pointer-events: none;
  }

  &.button-block {
    display: block !important;
    width: 100%;
  }

  //Button Sizes
  &.button--large {
    font-size: $font-size-medium !important;
    padding: 0.6rem 1.2rem;
  }
  &.button--small {
    font-size: $font-size-small !important;
    padding: 0.4rem 0.75rem;
  }

  //Button Color Options
  &.button--primary { @include button($background-color: $blue, $color: $white); }
  &.button--secondary { @include button($background-color: $gray-200, $color: $gray-900); }

  &.button--gray { @include button($background-color: $gray-200, $color: $gray-900); }
  &.button--blue {@include button($background-color: $blue, $color: $white); }
  &.button--green { @include button($background-color: $green, $color: $white); }
  &.button--orange { @include button($background-color: $orange, $color: $white); }
  &.button--purple { @include button($background-color: $purple, $color: $white); }
  &.button--red { @include button($background-color: $red, $color: $white); }

  //Used to display actions and icons with a transparent background
  &.button--transparent {
    @include button($background-color: transparent, $color: $blue);
    &:hover, &:focus {
      @include button($background-color: transparent, $color: $blue);
      opacity: .6;
    }

    &.button--primary, .button--primary:hover, .button--primary:focus { @include button($background-color: transparent, $color: $blue); }
    &.button--secondary, .button--secondary:hover, .button--secondary:focus  { @include button($background-color: transparent, $color: $gray-600); }
    &.button--blue, .button--blue:hover, .button--blue:focus { @include button($background-color: transparent, $color: $blue); }
    &.button--gray, .button--gray:hover, .button--gray:focus,
    &.button--grey, .button--grey:hover, .button--grey:focus { @include button($background-color: transparent, $color: $gray-600); }
    &.button--green, .button--green:hover, .button--green:focus { @include button($background-color: transparent, $color: $green); }
    &.button--orange, .button--orange:hover, .button--orange:focus { @include button($background-color: transparent, $color: $orange); }
    &.button--purple, .button--purple:hover, .button--purple:focus { @include button($background-color: transparent, $color: $purple); }
    &.button--red, .button--red:hover, .button--red:focus { @include button($background-color: transparent, $color: $red); }

    &:active {
      opacity: .9;
    }
  }

  &.button--border {
    @include button($background-color: transparent, $color: $gray-600);
    border: 2px solid $gray-400;

    @media #{$tablet} {
      padding-top: calc(0.45rem - 2px);
      padding-bottom: calc(0.5rem - 2px);
      padding-left: calc(1rem - 2px);
      padding-right: calc(1rem - 2px);
    }

    &.button--primary {
      @include button($background-color: transparent, $color: $blue-700);
      border-color: $blue;
      &:hover, &:focus { @include button($background-color: $blue, $color: $white); }
    }

    &.button--secondary {
      @include button($background-color: transparent, $color: $gray-600); border-color: $gray-500;
      &:hover, &:focus { @include button($background-color: $gray-200, $color: $gray-900); }
    }

    &.button--blue {
      @include button($background-color: transparent, $color: $blue-700); border-color: $blue;
      &:hover, &:focus { @include button($background-color: $blue, $color: $white); }
    }

    &.button--gray {
      @include button($background-color: transparent, $color: $gray-600); border-color: $gray-500;
      &:hover, &:focus { @include button($background-color: $gray-200, $color: $gray-900); }
    }

    &.button--green {
      @include button($background-color: transparent, $color: $green-600); border-color: $green;
      &:hover, &:focus { @include button($background-color: $green, $color: $white); }
    }

    &.button--orange {
      @include button($background-color: transparent, $color: $orange-600); border-color: $orange;
      &:hover, &:focus { @include button($background-color: $orange, $color: $white); }
    }

    &.button--purple {
      @include button($background-color: transparent, $color: $purple-600); border-color: $purple;
      &:hover, &:focus { @include button($background-color: $purple, $color: $white); }
    }

    &.button--red {
      @include button($background-color: transparent, $color: $red-600); border-color: $red;
      &:hover, &:focus { @include button($background-color: $red, $color: $white); }
    }

    &:hover, &:focus { border-color: transparent; }

  }
}

//Used for creating clickable dashing icons
.button--icon {
  padding-top: calc(1rem - 2px);
  padding-bottom: calc(1rem - 2px);
  padding-right: 1rem;
  padding-left: 1rem;

  &.button--icon--small {
    padding-top: calc(0.6rem - 2px);
    padding-bottom: calc(0.6rem - 2px);
    padding-right: 0.6rem;
    padding-left: 0.6rem;
  }

  &.button--icon--main {
    @extend %shadow-100;
    &:active { @extend %shadow-50; }
  }

  //Used to display actions and icons with a transparent background
  &.button--transparent {
    &:hover, &:focus { @include button($background-color: $gray-50c, $color: transparent); opacity: 1;}
  }
}

//Provides margin when a button and action are paired together
.button ~ .action {
  margin-left: 0.5rem;
}
