<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/example.css" rel="stylesheet">
    <title>Forms</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../../scripts/scripts.js"></script>
    <script src="../../scripts/prism.js"></script>
  </head>

  <body class="example-body">
    <div id="sidebarNavigation" class="example-sidebar"></div>
    <nav class="app-menu expanded example-menu--forms">
      <div class="app-context">
        <div class="app-title">Dashing Forms</div>
      </div>
      <ul class="app-navigation">
        <li><a href="example.html">Inputs</a></li>
        <li><a href="controls.html">Controls</a></li>
        <li><a href="#" class="active">Cards</a></li>
      </ul>
    </nav>

    <div class="app-content">

    <h2 class="example-header no-margin--top">Checkbox Cards</h2>
    <p>To use custom checkboxes, be sure to include your input <strong>before</strong> your label. Failing to do so will break styles.</p>
    <div class="row example-container">
      <fieldset class="column column--full">
        <label>Checkbox Card</label>
        <div class="checkbox--custom">
          <input type="checkbox" name="checkbox-test" id="checkbox-test1" checked/>
          <label for="checkbox-test1" class="card">Option 1</label>
        </div>
        <div class="checkbox--custom">
          <input type="checkbox" name="checkbox-test" id="checkbox-test2" />
          <label for="checkbox-test2" class="card">Option 2</label>
        </div>
        <div class="checkbox--custom">
          <input type="checkbox" name="checkbox-test" id="checkbox-test3" disabled />
          <label for="checkbox-test3" class="card disabled">Disabled</label>
        </div>
      </fieldset>
    </div>
<pre><code class="language-html">&lt;!-- Checkbox Cards --&gt;
&lt;fieldset class="column column--full"&gt;
  &lt;label&gt;Checkbox Card&lt;/label&gt;
  &lt;div class="checkbox--custom"&gt;
    &lt;input type="checkbox" name="checkbox-test" id="checkbox-test1" checked/&gt;
    &lt;label for="checkbox-test1" class="card"&gt;Option 1&lt;/label&gt;
  &lt;/div&gt;
  &lt;div class="checkbox--custom"&gt;
    &lt;input type="checkbox" name="checkbox-test" id="checkbox-test2" /&gt;
    &lt;label for="checkbox-test2" class="card"&gt;Option 2&lt;/label&gt;
  &lt;/div&gt;
  &lt;div class="checkbox--custom"&gt;
    &lt;input type="checkbox" name="checkbox-test" id="checkbox-test3" disabled /&gt;
    &lt;label for="checkbox-test3" class="card disabled"&gt;Disabled&lt;/label&gt;
  &lt;/div&gt;
&lt;/fieldset&gt;</code>
</pre>

<h2 class="example-header">Radio Card</h2>
<p>To use custom checkboxes, be sure to include your input <strong>before</strong> your label. Failing to do so will break styles.</p>
<div class="row example-container">
  <fieldset class="column column--full">
    <label>Radio Card</label>
    <div class="radio--custom">
      <input type="radio" name="radio-test" id="radio-test1" checked/>
      <label for="radio-test1" class="card">Option 1</label>
    </div>
    <div class="radio--custom">
      <input type="radio" name="radio-test" id="radio-test2" />
      <label for="radio-test2" class="card">Option 2</label>
    </div>
    <div class="radio--custom">
      <input type="radio" name="radio-test" id="radio-test3" disabled />
      <label for="radio-test3" class="card disabled">Disabled</label>
    </div>
  </fieldset>
</div>
<pre><code class="language-html">&lt;!-- Checkbox Cards --&gt;
&lt;fieldset class="column column--full"&gt;
  &lt;label&gt;Radio Card&lt;/label&gt;
  &lt;div class="radio--custom"&gt;
    &lt;input type="radio" name="radio-test" id="radio-test1" checked/&gt;
    &lt;label for="radio-test1" class="card"&gt;Option 1&lt;/label&gt;
  &lt;/div&gt;
  &lt;div class="radio--custom"&gt;
    &lt;input type="radio" name="radio-test" id="radio-test2" /&gt;
    &lt;label for="radio-test2" class="card"&gt;Option 2&lt;/label&gt;
  &lt;/div&gt;
  &lt;div class="radio--custom"&gt;
    &lt;input type="radio" name="radio-test" id="radio-test3" disabled /&gt;
    &lt;label for="radio-test3" class="card disabled"&gt;Disabled&lt;/label&gt;
  &lt;/div&gt;
&lt;/fieldset&gt;</code>
</pre>
  </body>
</html>
