//Placeholder Header Elements
.logo {
  margin-right: auto;
  width: 10.75rem;
  height: 4rem;
  background-color: #413552;
}

.profile {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  background-color: #413552;
  margin-left: 0.5rem;

  @extend %icon-white;
}

.alert {
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
  background-color: #413552;
  margin-left: 0.5rem;

  @extend %icon-white;
}

.logo, .profile, .alert, .mobile-sidebar--button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert { margin-left: auto; @media #{$tablet} { margin-left: 0; } }
.profile, .logo { display: none; @media #{$tablet} { display: flex; } }
.mobile-sidebar--button { display: flex; @media #{$tablet} { display: none; } }
