//Variables
$animation-time: 0.3s;

//SIDEBAR
.sidebar, .mobile-sidebar { background-color: $sidebar-background; }
.sidebar-nav, .mobile-sidebar-nav {
  list-style-type: none;
  padding: 0;

  li {
    padding-left: 1rem;
    height: 2.5rem;
    display: flex;
    align-items: center;

    &:hover { background-color: $sidebar-highlight; }

    a {
      color: $sidebar-text-color;
      width: 100%;
      height: 100%;
      padding-left: 0.5rem;
      display: flex;
      align-items: center;
    }

    @extend %icon-white;
  }
}

.sidebar-nav { width: 12rem; }
.mobile-sidebar-nav { width: 100%; }

.mobile-overlay {
  transition: width $animation-time;

  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;

  *{
    transition: opacity $animation-time;
    opacity: 1.0;
  }

  &.is-collapsed {
    transition: width $animation-time;
    width: 0px;
    overflow: hidden;

    *{
      transition: opacity $animation-time;
      opacity: 0.0;
    }
  }

  .mobile-profile {
    width: 100%;
    height: 13rem;
    background-color: #333333;
  }
}

.mobile-sidebar--button {
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  background-color: #413552;

  i:before {
    color: $white;
    font-size: 2rem;
  }
}

.mobile-profile .mobile-sidebar--button {
  background-color: transparent;
  padding-top: 1rem;

  i:before {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}
