@font-face {
  font-family: 'dashing-icons';
  font-weight: normal;
  font-style: normal;
}

// [class^="icon--"]:before, [class*=" icon-"]:before  {
//
// }

.dashing-icon:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $gray-700;
  display: inline-block;
  font-family: "dashing-icons";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  speak: none;
  text-decoration: inherit;
  text-align: center;
  opacity: .9;

  // For safety - reset parent styles, that can break glyph codes
  font-variant: normal;
  text-transform: none;

  //3D effect
  // text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.dashing-icon {
  %action & {
    margin-right: 0.2rem;
    margin-left: -0.2rem;
  }

  &.flow-opposite {
    %action & {
      margin-left: 0.2rem;
      margin-right: -0.2rem;
    }
  }

  .button--icon & {
    margin: 0;
  }

  &--white:before { color: $white; }
  &--black:before { color: $black; }
  &--blue:before { color: $blue; }
  &--gray:before, &--grey:before { color: $gray; }
  &--green:before { color: $green; }
  &--orange:before { color: $orange; }
  &--red:before { color: $red; }
  &--purple:before { color: $purple; }

  &--arrow-down:before { content: '\e800'; } /* '' */
  &--calendar:before { content: '\e801'; } /* '' */
  &--checkmark-filled:before { content: '\e802'; } /* '' */
  &--checkmark-stroke:before { content: '\e803'; } /* '' */
  &--close:before { content: '\e804'; } /* '' */
  &--comment-add:before { content: '\e806'; } /* '' */
  &--comment:before { content: '\e807'; } /* '' */
  &--do-not-pull:before { content: '\e808'; } /* '' */
  &--do-not-push:before { content: '\e809'; } /* '' */
  &--fit-page:before { content: '\e80a'; } /* '' */
  &--fit-width:before { content: '\e80b'; } /* '' */
  &--flip:before { content: '\e80c'; } /* '' */
  &--hidden:before { content: '\e80d'; } /* '' */
  &--info:before { content: '\e80e'; } /* '' */
  &--info-filled:before { content: '\e80f'; } /* '' */
  &--info-stroke:before { content: '\e810'; } /* '' */
  &--location:before { content: '\e811'; } /* '' */
  &--locked:before { content: '\e812'; } /* '' */
  &--minus:before,
  &--zoom-out:before { content: '\e814'; } /* '' */
  &--new-tab:before { content: '\e815'; } /* '' */
  &--notification:before { content: '\e816'; } /* '' */
  &--page:before { content: '\e817'; } /* '' */
  &--pencil:before { content: '\e818'; } /* '' */
  &--phone:before { content: '\e819'; } /* '' */
  &--play:before { content: '\e81b'; } /* '' */
  &--plus:before,
  &--add:before,
  &--zoom-in:before { content: '\e81c'; } /* '' */
  &--pull:before { content: '\e81d'; } /* '' */
  &--push:before { content: '\e81e'; } /* '' */
  &--question-filled:before { content: '\e81f'; } /* '' */
  &--quicknav:before,
  &--grid:before { content: '\e820'; } /* '' */
  &--reply:before { content: '\e821'; } /* '' */
  &--rotate:before { content: '\e822'; } /* '' */
  &--search:before { content: '\e823'; } /* '' */
  &--settings:before { content: '\e824'; } /* '' */
  &--show:before { content: '\e825'; } /* '' */
  &--time:before { content: '\e826'; } /* '' */
  &--trash:before { content: '\e827'; } /* '' */
  &--unlocked:before { content: '\e828'; } /* '' */
  &--view-double:before { content: '\e829'; } /* '' */
  &--arrow-left:before { content: '\e82a'; } /* '' */
  &--arrow-long-down:before { content: '\e82b'; } /* '' */
  &--arrow-long-left:before { content: '\e82c'; } /* '' */
  &--arrow-long-up:before { content: '\e82d'; } /* '' */
  &--arrow-right:before { content: '\e82e'; } /* '' */
  &--arrow-up:before { content: '\e82f'; } /* '' */
  &--heart:before { content: '\e832'; } /* '' */
  &--question-stroke:before { content: '\e833'; } /* '' */
  &--view-single:before { content: '\e834'; } /* '' */
  &--checkmark:before { content: '\e835'; } /* '' */
  &--arrow-long-right:before { content: '\e836'; } /* '' */
  &--alert-stroke:before { content: '\e837'; } /* '' */
  &--alert-filled:before { content: '\e838'; } /* '' */
  &--add-person:before { content: '\e839'; } /* '' */
}
