<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Example</title>
	<link rel="stylesheet" href="../../css/example.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<!-- Dashboard Layout -->
  <div class="grid-phoenix fullscreen">
		<!-- Header -->
    <header class="header">
      <!-- When "fullscreen" is applied the following classes will be hidden -->
      <div class="mobile-sidebar--button" id="close-button"><i class="dashing-icon dashing-icon--menu"></i></div>
			<div class="logo"><p class="text-color--white">LOGO<p></div>
			<div class="alert"><i class="dashing-icon dashing-icon--notification"></i></div>
			<div class="profile"><i class="dashing-icon dashing-icon--face-good"></i></div>

      <!-- When "fullscreen" is applied the following classes will be shown -->
			<div class="title">Example Fullscreen Page</div>
      <a href="./" class="action button button--grey"><i class="dashing-icon dashing-icon--close"></i> close</a>
		</header>

		<!-- Sidebar -->
		<aside class="sidebar">
      <ul class="sidebar-nav">
        <li><i class="dashing-icon dashing-icon--locked"></i><a>Home</a></li>
        <li><i class="dashing-icon dashing-icon--locked"></i><a>Wallet</a></li>
        <li><i class="dashing-icon dashing-icon--locked"></i><a>My Needs</a></li>
        <li><i class="dashing-icon dashing-icon--locked"></i><a>Sign Out</a></li>
      </ul>
    </aside>

		<!-- App -->
    <section class="app">
			<div class="content content--reader-width">
	      <h1>Example Fullscreen Page</h1>
	      <p>This example shows a fullscreen dashboard layout. This is still a dashboard template, but it makes use of the class "fullscreen" to disable common interface elements to help focus a user on a specific task.</p>
				<h3>Other Templates:</h3>
				<a href="./">Dashboard</a><br>
				<a href="./singlepage.html">Single Column Layout in Dashboard</a><br>
				<a href="./fullscreen.html">Fullscreen Layout in Dashboard</a><br>
			</div>
    </section>
  </div>
</body>
</html>
