<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Example</title>
	<link rel="stylesheet" href="../../css/example.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<!-- Dashboard Layout -->
  <div class="grid-phoenix fullscreen">
		<!-- Header -->
		<header class="header">
			<!-- When "fullscreen" is applied the following classes will be hidden -->
			<a href="./mobile.html" class="mobile-sidebar--button" id="close-button"><i class="dashing-icon dashing-icon--menu"></i></a>
			<div class="logo"><p class="text-color--white">LOGO<p></div>
			<div class="crumbs">A Title of This Page</div>
			<div class="alert"><i class="dashing-icon dashing-icon--notification"></i><div class="count">100</div></div>
			<div class="profile"><i class="dashing-icon dashing-icon--face-good"></i></div>

			<!-- When "fullscreen" is applied the following classes will be shown -->

			<div class="spacer back">
			</div>

			<div class="title">
				Example Fullscreen Page
				<p class="subtitle">A Subtle Subtitle</p>
			</div>

			<div class="spacer cancel">
      	<a href="./" class="action button button--grey button--small"><i class="dashing-icon dashing-icon--close"></i>&nbsp;close</a>
			</div>

		</header>

		<!-- Sidebar -->
		<aside class="sidebar">
      <ul class="sidebar-nav">
        <li><i class="dashing-icon dashing-icon--locked"></i><a>Home</a></li>
        <li><i class="dashing-icon dashing-icon--locked"></i><a>Wallet</a></li>
        <li><i class="dashing-icon dashing-icon--locked"></i><a>My Needs</a></li>
        <li><i class="dashing-icon dashing-icon--locked"></i><a>Sign Out</a></li>
      </ul>
    </aside>

		<!-- App -->
    <section class="app">
			<div class="content content--reader-width">
	      <h1>Example Fullscreen Page</h1>
	      <p>This example shows a fullscreen dashboard layout. This is still a dashboard template, but it makes use of the class "fullscreen" to disable common interface elements to help focus a user on a specific task.</p>
				<h3>Other Templates:</h3>
				<a href="./">Dashboard</a><br>
				<a href="./singlepage.html">Single Column Layout in Dashboard</a><br>
				<a href="./fullscreen.html">Fullscreen Layout in Dashboard</a><br>
				<a href="./mobile.html">Open Mobile Menu</a><br>
			</div>
    </section>
  </div>
</body>
</html>
