<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Example</title>
	<link rel="stylesheet" href="../../css/example.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<!-- Dashboard Layout -->
  <div class="grid-phoenix fullscreen">
		<!-- Header -->
    <header class="header">
      <!-- When "fullscreen" is applied the following classes will be hidden -->
      <div class="mobile-sidebar--button" id="close-button"><i class="dashing-icon dashing-icon--menu"></i></div>
			<div class="logo"><p class="text-color--white">LOGO<p></div>
			<div class="alert"><i class="dashing-icon dashing-icon--notification"></i></div>
			<div class="profile"><i class="dashing-icon dashing-icon--face-good"></i></div>

      <!-- When "fullscreen" is applied the following classes will be shown -->
			<div class="title">Send Additional Giving</div>
      <button class="action button--grey"><i class="dashing-icon dashing-icon--close"></i> close</button>
		</header>

		<!-- Sidebar -->
		<aside class="sidebar">
      <ul class="sidebar-nav">
        <li><i class="dashing-icon dashing-icon--locked"></i><a>Home</a></li>
        <li><i class="dashing-icon dashing-icon--locked"></i><a>Wallet</a></li>
        <li><i class="dashing-icon dashing-icon--locked"></i><a>My Needs</a></li>
        <li><i class="dashing-icon dashing-icon--locked"></i><a>Sign Out</a></li>
      </ul>
    </aside>

		<!-- App -->
    <section class="app">
			<div class="content">
	      <h1>Example Dashing Page</h1>
	      <p>This example shows the dashboard layout. (Sidebar, Header, App, and Mobile Menu) Content starts within this section.</p>
				<h3>Other Templates:</h3>
				<a href="./singlepage.html">Single Column Layout in Dashboard</a>
			</div>
    </section>
  </div>
</body>
</html>
