<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Example</title>
	<link rel="stylesheet" href="../../css/example.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<!-- Mobile Menu -->
	<section class="mobile-overlay is-collapsed">
		<aside class="mobile-sidebar">
			<div class="mobile-profile">
				<div class="mobile-sidebar--button" id="open-button" ><i class="dashing-icon dashing-icon--close"></i></div>
			</div>
			<ul class="mobile-sidebar-nav">
				<li><i class="dashing-icon dashing-icon--locked"></i><a>Home</a></li>
				<li><i class="dashing-icon dashing-icon--locked"></i><a>Wallet</a></li>
				<li><i class="dashing-icon dashing-icon--locked"></i><a>My Needs</a></li>
				<li><i class="dashing-icon dashing-icon--locked"></i><a>Sign Out</a></li>
			</ul>
		</aside>
	</section>

	<!-- Dashboard Layout -->
  <div class="grid-phoenix">
		<!-- Header -->
    <header class="header">
			<div class="mobile-sidebar--button" id="close-button"><i class="dashing-icon dashing-icon--menu"></i></div>
			<div class="logo"><p class="text-color--white">LOGO<p></div>
			<div class="alert"><i class="dashing-icon dashing-icon--notification"></i><div class="count">1</div></div>
			<div class="profile"><i class="dashing-icon dashing-icon--face-good"></i></div>
		</header>

		<!-- Sidebar -->
		<aside class="sidebar">
      <ul class="sidebar-nav">
        <li><i class="dashing-icon dashing-icon--locked"></i><a>Home</a></li>
        <li><i class="dashing-icon dashing-icon--locked"></i><a>Wallet</a></li>
        <li><i class="dashing-icon dashing-icon--locked"></i><a>My Needs</a></li>
        <li><i class="dashing-icon dashing-icon--locked"></i><a>Sign Out</a></li>
      </ul>
    </aside>

		<!-- App -->
    <section class="app">
			<div class="content">
	      <h1>Example Dashing Page</h1>
	      <p>This example shows the dashboard layout. (Sidebar, Header, App, and Mobile Menu) Content starts within this section.</p>
				<h3>Other Templates:</h3>
				<a href="./">Dashboard</a><br>
				<a href="./singlepage.html">Single Column Layout in Dashboard</a><br>
				<a href="./fullscreen.html">Fullscreen Layout in Dashboard</a><br>
			</div>
    </section>
  </div>
</body>
</html>
